@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* Centered dedications */
section[epub|type~="dedication"],
section[epub|type~="z3998:clarification"]{
	text-align: center;
}

section[epub|type~="dedication"] > *,
section[epub|type~="z3998:clarification"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"],
	section[epub|type~="z3998:clarification"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *,
	section[epub|type~="z3998:clarification"] > *{
		margin: 0;
	}
}
/* End centered dedications */

[epub|type~="z3998:clarification"]{
	font-style: italic;
}
